---
layout: post
tags: Search
permalink: /search/
comments: false
published: true
search_omit: false
sitemap: false
---

<form action="{{ site.baseurl }}/search/" method="get">
	<input type="search" name="q" placeholder="Ne bilmek istiyorsun?" data-search-input id="goog-wm-qt" autofocus><input type="submit" value="Ara" id="goog-wm-sb" />
</form>

<span id="search-query-container" style="display: none;">"<strong id="search-query"></strong>"</span></p>
<ul id="search-results"></ul>

<script>
	window.data = {
		{% for post in site.posts %}
			{% if post.title %}
				{% unless post.excluded_in_search %}
					{% if added %},{% endif %}
					{% assign added = false %}
					"{{ post.url | slugify }}": {
						"id": "{{ post.url | slugify }}",
						"title": "{{ post.title | xml_escape }}",
						"categories": "{{ post.categories | join: ", " | xml_escape }}",
						"url": " {{ post.url | xml_escape }}",
						"content": {{ post.content | strip_html | replace_regex: "[\s/\n]+"," " | strip | jsonify }}
					}
					{% assign added = true %}
				{% endunless %}
			{% endif %}
		{% endfor %}
	};
</script>
<!-- <script src="//unpkg.com/lunr@1.0.0/lunr.js"></script> -->
<script src="{{ site.baseurl }}/scripts/js/lunr.js"></script>
<script src="{{ site.baseurl }}/scripts/js/search.js"></script>

<br>

<p>Categories</p><hr>
<div id="archives">
{% for category in site.categories %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <p></p>
    
    <h3 class="category-head">{{ category_name }}</h3>
    <a name="{{ category_name | slugize }}"></a>
    {% for post in site.categories[category_name] %}
    <article class="archive-item">
      <h4><a href="{{ site.baseurl }}{{ post.url }}" style="text-decoration: none; cursor:pointer">{{post.title}}</a></h4>
    </article>
    {% endfor %}
  </div>
{% endfor %}
</div>


<br>

<!--
{% include update.html %} {% include hava.html %}<br>-->



<!--link rel="stylesheet" href="{{ site.baseurl }}/css/hava.css" type="text/css" 
<script src="{{ site.baseurl }}/scripts/hava.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script><script>
		if (typeof jQuery == 'undefined') {
			document.write(unescape("%3Cscript src='/scripts/jquery.1.9.1.min.js' type='text/javascript'%3E%3C/script%3E"));
		}
</script>
<script src="{{ site.baseurl }}/scripts/openweather.js"></script>-->

