---
layout: default
---


<h1>{{ page.title }}</h1>

{% if page.url != "/search/" %}
<span><p class="meta"><i class="fas fa-tags"></i>
  {% for tag in page.tags %}
    {% capture tag_name %}{{ tag }}{% endcapture %}
    <a href="{{ site.baseurl }}/tag/{{ tag_name }}" style="text-decoration: none; color:#3E2723; cursor:pointer"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
  {% endfor %}</p>
</span>
{% endif %}

{% include tr_ay.html %}
{{ content }}


<br>
<br>

<!---
localize date post
-->
<div align="right">
{% if page.last_updated != None %}
{% if page.lang == 'tr' %}
{% assign months = "Ocak|Şubat|Mart|Nisan|Mayıs|Haziran|Temmuz|Ağustos|Eylül|Ekim|Kasım|Aralık" | split: "|" %}
{% assign m = page.last_updated | date: "%-m" | minus: 1 %}
{% assign day = page.last_updated | date: "%d" %}
{% assign month = months[m] %}
{% assign year = page.last_updated | date: "%Y" %}
<p class="meta">Son Değişim: {{ day }} {{ month }} {{ year }}</p>
{% elsif page.lang == 'en' %}
<p class="meta">Last Update: {{ page.last_updated | date_to_string }}</p>
{% endif %}{% endif %}
</div>
<hr>
<br>
<br>
<!---
latest post
-->
{% assign Counter_tr = 0 %}
{% assign Counter_en = 0 %}
{% if page.lang == 'en' %}{% for post in site.posts limit:3 %}{% if post.lang == 'en' %}
{% assign Counter_en = Counter_en | plus: 1 %}
      {% endif %}
    {% endfor %}
{% elsif page.lang == 'tr' %}{% for post in site.posts limit:3 %}{% if post.lang == 'tr' %}
{% assign Counter_tr = Counter_tr | plus: 1 %}
      {% endif %}
    {% endfor %}{% endif %}


{% if page.lang == 'en' %}{% if Counter_en != 0 %}
  <h3>Latest Posts</h3><ul class="posts">
    {% for post in site.posts limit:3 %}{% if post.lang == 'en' %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}" style="text-decoration: none; color:#3E2723; cursor:pointer">{{ post.title }}</a></li>{% endif %}
    {% endfor %}{% endif %}
  </ul>

{% elsif page.lang == 'tr' %}{% if Counter_tr != 0 %}

<h3>En Yeni İçerikler</h3>
<ul class="posts">
    {% for post in site.posts limit:3 %}{% if post.lang == 'tr' %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}" style="text-decoration: none; color:#3E2723; cursor:pointer">{{ post.title }}</a></li>{% endif %}
    {% endfor %}{% endif %}
</ul>{% endif %}


<!---
relatedPosts
-->  
<div class="relatedPosts">


{% assign mRelated = 3 %}
{% assign mRelatedCounter = 0 %}
{% assign mCommonTags =  3 %}

  {% for post in site.posts %}
    {% assign sTagCount = 0 %}
    {% assign cTags = '' %}

    {% for tag in post.tags %}
      {% if post.url != page.url %}
        {% if page.tags contains tag %}
          {% assign sTagCount = sTagCount | plus: 1 %}
          {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
          {% assign cTags = cTags | append: tagmarkup %}
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if sTagCount >= mCommonTags %}
      {% assign mRelatedCounter = mRelatedCounter | plus: 1 %}
      {% if mRelatedCounter >= mRelated %}
        {% break %}
      {% endif %}
    {% endif %}
  {% endfor %}

{% if mRelatedCounter >= 1 %}
{% if page.lang == 'en' %}
  <h3>Related Posts</h3>{% elsif page.lang == 'tr' %}<h3>İlgili İçerikler</h3>{% endif %}
{% endif %}  
  

{% assign maxRelated = 3 %}
{% assign minCommonTags =  3 %}
{% assign maxRelatedCounter = 0 %}

  {% for post in site.posts %}
    {% assign sameTagCount = 0 %}
    {% assign commonTags = '' %}

    {% for tag in post.tags %}
      {% if post.url != page.url %}
        {% if page.tags contains tag %}
          {% assign sameTagCount = sameTagCount | plus: 1 %}
          {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
          {% assign commonTags = commonTags | append: tagmarkup %}
        {% endif %}
      {% endif %}
    {% endfor %}

  <ul class="posts">
    {% if sameTagCount >= minCommonTags %}
      <div>
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ site.baseurl }}{{ post.url }}" style="text-decoration: none; color:#3E2723; cursor:pointer">{{ post.title }}, {{ commonTags }}</a></li>
      </div>
      {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
      {% if maxRelatedCounter >= maxRelated %}
        {% break %}
      {% endif %}
    {% endif %}

  {% endfor %}
  </ul>
</div>

<!---
page.comments
--> 
{% if page.comments != false %}
<div id="disqus_thread"></div>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
<div id="disqus_thread"></div>
<script>
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://vdemir-github-io.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
{% endif %}
